.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-family: sans-serif;
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 2px solid #555;
  border-radius: 3px;
  position: relative;
}

.checkbox-input:checked + .checkbox-custom::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.checkbox-icon {
  margin-right: 4px;
  display: inline-flex;
  vertical-align: middle;
}

.checkbox-text {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.checkbox-count {
  margin-left: 4px;
  color: #888;
}

.checkbox-description {
  font-size: 0.875rem;
  color: #666;
  margin-top: 2px;
}